src/conf/xml-resources/web-service-references/Images/wsdl/localhost_8080/MidTermServer/Images.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server/">

<xs:element name="getAllImage" type="tns:getAllImage"/>

<xs:element name="getAllImageResponse" type="tns:getAllImageResponse"/>

<xs:element name="getImage" type="tns:getImage"/>

<xs:element name="getImageResponse" type="tns:getImageResponse"/>

<xs:element name="initData" type="tns:initData"/>

<xs:element name="initDataResponse" type="tns:initDataResponse"/>

<xs:complexType name="getImage">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initData">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllImage">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>