src/conf/xml-resources/web-service-references/Images/wsdl/localhost_8080/MidTermServer/Images.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Images">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/MidTermServer/Images?xsd=1"/>
</xsd:schema>
</types>
<message name="getImage">
<part name="parameters" element="tns:getImage"/>
</message>
<message name="getImageResponse">
<part name="parameters" element="tns:getImageResponse"/>
</message>
<message name="getAllImage">
<part name="parameters" element="tns:getAllImage"/>
</message>
<message name="getAllImageResponse">
<part name="parameters" element="tns:getAllImageResponse"/>
</message>
<message name="initData">
<part name="parameters" element="tns:initData"/>
</message>
<message name="initDataResponse">
<part name="parameters" element="tns:initDataResponse"/>
</message>
<portType name="Image">
<operation name="getImage">
<input wsam:Action="http://server/Image/getImageRequest" message="tns:getImage"/>
<output wsam:Action="http://server/Image/getImageResponse" message="tns:getImageResponse"/>
</operation>
<operation name="getAllImage">
<input wsam:Action="http://server/Image/getAllImageRequest" message="tns:getAllImage"/>
<output wsam:Action="http://server/Image/getAllImageResponse" message="tns:getAllImageResponse"/>
</operation>
<operation name="initData">
<input wsam:Action="http://server/Image/initDataRequest" message="tns:initData"/>
<output wsam:Action="http://server/Image/initDataResponse" message="tns:initDataResponse"/>
</operation>
</portType>
<binding name="ImagePortBinding" type="tns:Image">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Images">
<port name="ImagePort" binding="tns:ImagePortBinding">
<soap:address location="http://localhost:8080/MidTermServer/Images"/>
</port>
</service>
</definitions>